<ion-content>
  <ion-list *ngIf="params.tabType == 'plan' && details">
    <ion-list-header>
      <ion-icon name="md-desktop" color="danger"></ion-icon>方案相关文献
      <button ion-button outline item-end (click)="back()">返回</button>
    </ion-list-header>
    <!--<ion-item (click)="viewRecommendDetail()" *ngFor="let entity of details.data">-->
    <ion-item *ngFor="let entity of details.data">
      <h3>{{entity.label}}</h3>
      <!--<p>???</p>-->
    </ion-item>
    <div *ngIf="details.data.length==0 || details==null" class="blank_tip">暂无数据.......</div>
  </ion-list>

  <ion-list *ngIf="params.tabType == 'drug' && details">
    <ion-list-header>
      <ion-icon name="md-desktop" color="danger"></ion-icon>药品不良反应相关文献
      <button ion-button outline item-end (click)="back()">返回</button>
    </ion-list-header>
    <!--<ion-item (click)="viewRecommendDetail()" *ngFor="let entity of details.data">-->
    <ion-item *ngFor="let entity of details.data">
      <h3>{{entity.label}}</h3>
      <!--<p>???</p>-->
    </ion-item>
    <div *ngIf="details.data.length==0 || details==null" class="blank_tip">暂无数据.......</div>
  </ion-list>

  <ion-list *ngIf="params.tabType == 'source' && details">
    <ion-list-header>
      <ion-icon name="md-desktop" color="danger"></ion-icon>标准来源指南
      <button ion-button outline item-end (click)="back()">返回</button>
    </ion-list-header>
    <!--<ion-item (click)="viewRecommendDetail()" *ngFor="let entity of details.data">-->
    <ion-item *ngFor="let entity of details.data">
      <h3>{{entity.name}}</h3>
      <p>{{entity.disease}}</p>
    </ion-item>
    <div *ngIf="details.data.length==0 || details==null" class="blank_tip">暂无数据.......</div>
  </ion-list>

  <div padding>
    <button ion-button block (click)="back()" >返回</button>
  </div>
</ion-content>

