<ion-content>
  <ion-list *ngIf="params.tabType == 'plan' && details">
    <ion-list-header>
      <ion-icon name="md-desktop" color="danger"></ion-icon>方案相关文献
      <button ion-button outline item-end (click)="back()">返回</button>
    </ion-list-header>
    <ion-item (click)="viewPDF(entity.value,'scheme')" *ngFor="let entity of details.data">
    <!--<ion-item *ngFor="let entity of details.data">-->
      <h3>{{entity.label}}</h3>
      <!--<p>???</p>-->
    </ion-item>
    <ion-item *ngIf="(details.data && details.data.length==0) || details==null || details.data==null">
      <h3>暂无数据.......</h3>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="params.tabType == 'drug' && details">
    <ion-list-header>
      <ion-icon name="md-desktop" color="danger"></ion-icon>药品不良反应相关文献
      <button ion-button outline item-end (click)="back()">返回</button>
    </ion-list-header>
    <ion-item (click)="viewPDF(entity.value,'drug')" *ngFor="let entity of details.data">
    <!--<ion-item *ngFor="let entity of details.data">-->
      <h3>{{entity.label}}</h3>
      <!--<p>???</p>-->
    </ion-item>
    <ion-item *ngIf="(details.data && details.data.length==0) || details==null || details.data==null">
      <h3>暂无数据.......</h3>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="params.tabType == 'source' && details">
    <ion-list-header>
      <ion-icon name="md-desktop" color="danger"></ion-icon>标准来源指南
      <button ion-button outline item-end (click)="back()">返回</button>
    </ion-list-header>
    <ion-item (click)="viewPDF(entity.id,'guide')" *ngFor="let entity of details.data">
    <!--<ion-item *ngFor="let entity of details.data">-->
      <h3>{{entity.name}}</h3>
      <p>{{entity.disease}}</p>
    </ion-item>
    <ion-item *ngIf="(details.data && details.data.length==0) || details==null || details.data==null">
      <h3>暂无数据.......</h3>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button block (click)="back()" >返回</button>
  </div>
</ion-content>

