<ion-content>
  <div class="jumpButtons" top right edge *ngIf="result && formDatas">
    <mat-chip-list>
      <mat-chip [matMenuTriggerFor]="menu" color="primary" selected="true">查看模块</mat-chip>
      <mat-chip selected="true" (click)="viewRecommend()" style="border:1px solid #488aff;">推荐方案>></mat-chip>
    </mat-chip-list>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let formData of formDatas.data;let index = index" (click)="goHref(index, fab1)">{{formData.label}}</button>
    </mat-menu>
  </div>

  <div *ngIf="result && formDatas && parameter.class_id == '100037'">

    <ion-list class="list-parent">
      <ion-list-header class="jumpHeader">
        <ion-icon name="md-contact" color="secondary"></ion-icon>基本信息
      </ion-list-header>

      <ion-item>
        <ion-label>性别</ion-label>
        <ion-select [(ngModel)]="result.info.sex_id" interface="action-sheet">
          <ion-option value="0">男</ion-option>
          <ion-option value="1">女</ion-option>
        </ion-select>
      </ion-item>

      <ion-item >
        <ion-label >年龄</ion-label>
        <ion-input [(ngModel)]="result.info.age"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label >身高</ion-label>
        <ion-input [(ngModel)]="result.info.body_heig"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label >体重</ion-label>
        <ion-input [(ngModel)]="result.info.body_weig"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label >心律</ion-label>
        <ion-input [(ngModel)]="result.info.hr"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label >入院收缩压</ion-label>
        <ion-input [(ngModel)]="result.info.sbp"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label >入院舒张压</ion-label>
        <ion-input [(ngModel)]="result.info.dbp"></ion-input>
      </ion-item>
    </ion-list>


    <ion-list class="list-parent">
      <ion-list-header class="jumpHeader">
        <ion-icon name="md-pulse" color="secondary"></ion-icon>心血管危险因素
      </ion-list-header>

      <ion-item>
        <ion-label>血压水平分类</ion-label>
        <ion-select [(ngModel)]="result.info.gxy_class" interface="action-sheet">
          <ion-option value="0">否</ion-option>
          <ion-option value="1">高血压1级</ion-option>
          <ion-option value="2">高血压2级</ion-option>
          <ion-option value="3">高血压3级</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>心血管风险水平分层</ion-label>
        <ion-select [(ngModel)]="result.info.gxy_risk" interface="action-sheet">
          <ion-option value="0">否</ion-option>
          <ion-option value="1">低危</ion-option>
          <ion-option value="2">中危</ion-option>
          <ion-option value="3">高危</ion-option>
          <ion-option value="4">极高危</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>高血钾</ion-label>
        <ion-select [(ngModel)]="result.info.if_jxh" interface="action-sheet">
          <ion-option value="0">否</ion-option>
          <ion-option value="1">血钾>5.5，<6.0</ion-option>
          <ion-option value="2">血钾>6.0</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>糖耐量受损</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_tnb_02"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>高血脂</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_gzxz"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>低血钾</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_jxl"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list class="list-parent">
      <ion-list-header class="jumpHeader">
        <ion-icon name="ios-rose" color="secondary"></ion-icon>靶器官损害
      </ion-list-header>

      <ion-item>
        <ion-label>左室肥厚</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_zsfh"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>左室功能不全</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_zsgnbq"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>颈动脉粥样硬化</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_jdmzyyh"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>颈动脉增厚</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_jdmzh"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>冠状动脉粥样硬化</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_gmzyyh"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>尿蛋白</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_dbn"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>尿白蛋白大于等于30mg/24小时</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_nbdb_over"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list class="list-parent">
      <ion-list-header class="jumpHeader">
        <ion-icon name="md-git-branch" color="secondary"></ion-icon>伴临床疾患
      </ion-list-header>
      <ion-item>
        <ion-label>心肌梗死</ion-label>
        <ion-select [(ngModel)]="result.info.xjgs_type" interface="action-sheet">
          <ion-option value="0">否</ion-option>
          <ion-option value="1">陈旧性心肌梗死</ion-option>
          <ion-option value="2">急性非ST段抬高型</ion-option>
          <ion-option value="3">急性ST段抬高型</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>心力衰竭</ion-label>
        <ion-select [(ngModel)]="result.info.xlsj_type" interface="action-sheet">
          <ion-option value="0">否</ion-option>
          <ion-option value="1">心力衰竭I级</ion-option>
          <ion-option value="2">心力衰竭II级</ion-option>
          <ion-option value="3">心力衰竭III级</ion-option>
          <ion-option value="4">心力衰竭IV级</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>肾动脉狭窄</ion-label>
        <ion-select [(ngModel)]="result.info.if_sdmxz" interface="action-sheet">
          <ion-option value="0">否</ion-option>
          <ion-option value="1">单侧</ion-option>
          <ion-option value="2">双侧</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>颈动脉狭窄大于70%</ion-label>
        <ion-select [(ngModel)]="result.info.if_jdmxz" interface="action-sheet">
          <ion-option value="0">否</ion-option>
          <ion-option value="1">单侧颈动脉狭窄大于70%</ion-option>
          <ion-option value="2">双侧颈动脉狭窄大于70%</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>心绞痛</ion-label>
        <ion-toggle [(ngModel)]="result.info.xjt_type"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>心脏射频消融术后</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_oper_sp"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>心脏支架植入术后</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_oper_zj"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>心肌病</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_xjb"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>脑血管病</ion-label>
        <ion-toggle [(ngModel)]="result.info.brain_type"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>周围血管病变</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_zwxgb"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>糖尿病肾病</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_tnbsb"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>糖尿病</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_tnb"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>代谢综合征</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_dxzhz"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>痛风</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_tf"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>前列腺增生</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_qlxzs"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>体位性低血压</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_twxdxy"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>哮喘</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_xc"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>慢性阻塞性肺病</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_maf"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>妊娠</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_rs"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>间歇性跛行</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_jxxbx"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>胃炎</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_wy"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>胃溃疡</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_kyb"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>血管神经性水肿</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_sjxsz"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>主动脉瓣狭窄</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_zdmbxz"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>肥厚梗阻性心肌病</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_gzxxjb"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>高尿酸血症</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_gnsxz"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>心律失常</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_xlsc"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_xlsc ==1">
        <ion-label>快速心律失常
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.xlsc_type"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_xlsc ==1 && result.info.xlsc_type ==1">
        <ion-label>房颤
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_fc"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_xlsc ==1 && result.info.xlsc_type ==1">
        <ion-label>频发房性早搏
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_fxzb"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_xlsc ==1 && result.info.xlsc_type ==1">
        <ion-label>频发室性早搏
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_sxzb"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_xlsc ==1 && result.info.xlsc_type ==1">
        <ion-label>阵发性室性心动过速
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_zfxxdgs"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_xlsc ==1">
        <ion-label>缓慢性心律失常
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_hmxxlsc"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_xlsc ==1 && result.info.if_hmxxlsc ==1">
        <ion-label>病态窦房结综合征
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_dfjzhz"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_xlsc ==1 && result.info.if_hmxxlsc ==1">
        <ion-label>2-3度房室阻滞
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_fszz"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>肾功能不全
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_sgnbq"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_sgnbq ==1">
        <ion-label>肌酐大于265umol/L
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_sgnbq_over"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_sgnbq ==1 && result.info.if_sgnbq_over ==1">
        <ion-label>是否进行透析
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_sfjxtx"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_sgnbq ==1 && result.info.if_sgnbq_over ==1 && result.info.if_sfjxtx ==1">
        <ion-label>血液透析
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_xytx"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_sgnbq ==1 && result.info.if_sgnbq_over ==1 && result.info.if_sfjxtx ==1">
        <ion-label>腹膜透析
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_fmtx"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_sgnbq ==1">
        <ion-label>肌酐小于266ummol/L
        </ion-label>
        <ion-toggle [(ngModel)]="result.info.if_sgnbq_under"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="result && formDatas && parameter.class_id == '100059'">
    <ion-list class="list-parent">
      <ion-list-header class="jumpHeader">
        <ion-icon name="ios-rose" color="secondary"></ion-icon>慢性阻塞性肺疾病分期
      </ion-list-header>

      <ion-item>
        <ion-label>稳定期</ion-label>
        <ion-select [(ngModel)]="result.info.wdq_type" interface="action-sheet">
          <ion-option value="0">不详</ion-option>
          <ion-option value="1">A组</ion-option>
          <ion-option value="2">B组</ion-option>
          <ion-option value="3">C组</ion-option>
          <ion-option value="4">D组</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>加重期</ion-label>
        <ion-select [(ngModel)]="result.info.jzq_class" interface="action-sheet">
          <ion-option value="0">不详</ion-option>
          <ion-option value="1">1级（无急性呼吸衰竭）</ion-option>
          <ion-option value="2">2级（无生命危险的呼吸衰竭）</ion-option>
          <ion-option value="3">3级（有生命危险的呼吸衰竭）</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list class="list-parent">
        <ion-list-header class="jumpHeader">
          <ion-icon name="md-medkit" color="secondary"></ion-icon>病情危重
        </ion-list-header>

        <ion-item>
          <ion-label>FEV1</ion-label>
          <ion-select [(ngModel)]="result.info.fev1_type" interface="action-sheet">
            <ion-option value="0">不详</ion-option>
            <ion-option value="1">FEV1<20</ion-option>
            <ion-option value="2">20<=FEV1<40</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>SO2小于88%</ion-label>
          <ion-toggle [(ngModel)]="result.info.if_so2_88"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>嗜酸性粒细胞超过正常值</ion-label>
          <ion-toggle [(ngModel)]="result.info.if_ssxlxb_over"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>血气分析</ion-label>
          <ion-toggle [(ngModel)]="result.info.if_xqfx"></ion-toggle>
        </ion-item>

        <ion-item *ngIf="result.info.if_xqfx ==1">
          <ion-label>PH小于等于7.35</ion-label>
          <ion-toggle [(ngModel)]="result.info.ph_value"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="result.info.if_xqfx ==1">
          <ion-label>PaO2</ion-label>
          <ion-select [(ngModel)]="result.info.pao2_value" interface="action-sheet">
            <ion-option value="1">PaO2﹤40mmHg</ion-option>
            <ion-option value="0">40mmHg≤PaO2﹤55mmHg</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="result.info.if_xqfx ==1">
          <ion-label>PaCO2大于45mmHg</ion-label>
          <ion-toggle [(ngModel)]="result.info.pco2_value"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>血常规</ion-label>
          <ion-toggle [(ngModel)]="result.info.if_xcg"></ion-toggle>
        </ion-item>

        <ion-item *ngIf="result.info.if_xcg ==1">
          <ion-label>红细胞压积＞ 55%</ion-label>
          <ion-toggle [(ngModel)]="result.info.if_hxb_55"></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-list class="list-parent">
      <ion-list-header class="jumpHeader">
        <ion-icon name="md-contact" color="secondary"></ion-icon>基本信息
      </ion-list-header>

      <ion-item>
        <ion-label>性别</ion-label>
        <ion-select [(ngModel)]="result.info.sex_id" interface="action-sheet">
          <ion-option value="0">男</ion-option>
          <ion-option value="1">女</ion-option>
        </ion-select>
      </ion-item>

      <ion-item >
        <ion-label >年龄</ion-label>
        <ion-input [(ngModel)]="result.info.age"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label >身高</ion-label>
        <ion-input [(ngModel)]="result.info.body_heig"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label >体重</ion-label>
        <ion-input [(ngModel)]="result.info.body_weig"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label >心率</ion-label>
        <ion-input [(ngModel)]="result.info.hr"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label >入院收缩压</ion-label>
        <ion-input [(ngModel)]="result.info.sbp"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label >入院舒张压</ion-label>
        <ion-input [(ngModel)]="result.info.dbp"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="list-parent">
      <ion-list-header class="jumpHeader">
        <ion-icon name="md-clipboard" color="secondary"></ion-icon>症状
      </ion-list-header>
      <ion-item>
        <ion-label>精神状态</ion-label>
        <ion-select [(ngModel)]="result.info.js_type" interface="action-sheet">
          <ion-option value="0">不详</ion-option>
          <ion-option value="1">正常</ion-option>
          <ion-option value="2">嗜睡</ion-option>
          <ion-option value="3">意识障碍</ion-option>
        </ion-select>
      </ion-item>

      <ion-item >
        <ion-label>大量持续呕吐</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_cxot"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label>辅助呼吸肌呼吸</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_fzhxj"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label >矛盾运动</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_mdyd"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label >肋间隙肌群收缩</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_ljss"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list class="list-parent">
      <ion-list-header class="jumpHeader">
        <ion-icon name="md-cash" color="secondary"></ion-icon>并发症
      </ion-list-header>

      <ion-item >
        <ion-label>肺动脉高压</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_fdmgy"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label >低血压</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_dxy"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label>休克</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_xk"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label>呼吸或心脏骤停</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_hx_xz"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label>哮喘慢阻肺重叠综合征</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_xcmzf"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label>心力衰竭</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_xlsj"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_xlsj == 1">
        <ion-label>右心衰竭</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_yxsj"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label>心律失常</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_xlsc"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_xlsc == 1">
        <ion-label>室颤</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_sc"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="result.info.if_xlsc == 1">
        <ion-label>室速</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_ss"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list class="list-parent">
      <ion-list-header class="jumpHeader">
        <ion-icon name="md-analytics" color="secondary"></ion-icon>伴临床疾患
      </ion-list-header>

      <ion-item>
        <ion-label>消化道溃疡</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_xhdky"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>癫痫</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_dx"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label >妊娠</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_rs"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label>胃十二指肠溃疡</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_sezcky"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label>急性心肌梗死</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_jxxjgs"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label>青光眼</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_qgy"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label >活动性结核</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_hdxjh"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label >糖尿病</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_tnb"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label >精神疾病</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_jsjb"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label >骨质疏松</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_gzss"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label >寻常型银屑病</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_xcxyxb"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label >真菌感染</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_zjgr"></ion-toggle>
      </ion-item>

      <ion-item >
        <ion-label >铜绿假单孢菌感染</ion-label>
        <ion-toggle [(ngModel)]="result.info.if_tljdbj"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
