<ion-content *ngIf="formDatas">

  <ion-fab top right edge #fab1>
    <button ion-fab mini (click)="openFAB()"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="goHref('googleplus', fab1)">
        基本心思
      </button>
      <button ion-fab (click)="goHref('googleplus', fab1)">
        基本心思
      </button>
      <button ion-fab (click)="goHref('googleplus', fab1)">
        基本心思
      </button>
      <button ion-fab (click)="goHref('googleplus', fab1)">
        基本心思
      </button>
      <button ion-fab (click)="goHref('googleplus', fab1)">
        基本心思
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-list *ngFor="let formData of formDatas.data;let index = index">
    <ion-list-header>
      <ion-icon name="ios-rose" color="secondary"></ion-icon>{{formData.label}}
      <button *ngIf="index == 0" class="margin-right" ion-button outline item-end (click)="viewRecommend()">查看推荐</button>
    </ion-list-header>
    <form-group *ngFor="let inputData of formData.inputs" [inputData]="inputData"></form-group>
  </ion-list>

</ion-content>
