page-input-list {
  .list {
    border-top: 1px solid #ccc ;
  }
  .list-ios > .item-block:first-child {
    border-top:0;
  }

  .fab[mini] .fab-close-icon {
    line-height:2.7rem;
  }

  .item-ios .item-button {
    padding:1.2rem 0.5rem;
  }

  .fab[mini] {
    width:2.7rem;
    height:2.7rem;
  }

  ion-fab[top][edge] {
    top:0px;
    right:9rem;
  }

  ion-fab-list {
    width:auto;
    margin:4.1rem 0;
    .fab {
      border-radius: 0;
      margin:0;
      .button-inner {
        text-align: left;
      }
    }
    .fab-in-list {
      width:11rem;
      background-color: #fff;
    }

    button:first-child {
      border-top:1px solid #ccc;
      border-top-left-radius:0.5rem;
      border-top-right-radius:0.5rem;
    }
    button {
      border-left:1px solid #ccc;
      border-right:1px solid #ccc;
      .button-inner {
        border-bottom: 1px solid #ccc;
      }
    }
    button:last-child {
      border-bottom:1px solid #ccc;
      border-bottom-right-radius:0.5rem;
      border-bottom-left-radius:0.5rem;
      .button-inner {
        border-bottom: 0;
      }
    };
  }


}
