page-input-list {
  .list-parent{
    .item{
      input{
        text-align: right;
        padding-right: 1rem;
      }
    }
  }
  .fab[mini] .fab-close-icon {
    line-height:2.7rem;
  }

  .item-ios .item-button {
    padding:1.2rem 0.5rem;
  }

  .fab[mini] {
    width:2.7rem;
    height:2.7rem;
  }

  .jumpButtons {
    top:0.5rem;
    right:1rem;
    position: fixed;
    z-index: 999;
    display: flex;
    -webkit-display:flex ;
    -webkit-align-items: center;

    .mat-chip-list{
      display: inline-block;
      margin-right:0.5rem;

      .mat-chip{
        line-height: 1.3rem;
        background-color: #fff;

        &:first-child{
          color:#673ab7;
          border:1px solid #673ab7;
        }
        &:last-child{
          color:#488aff;
          border:1px solid #488aff;
        }
      }
    }

    .button-ios{
      height: 24px;
      font-size: 1.3rem;
      padding: 1.2rem 0.5rem;
      background-color: #fff;
    }
  }
  .matChipView.mat-chip:not(.mat-basic-chip){
    background-color: #fff;
    border:1px solid #488aff;
  }

  ion-fab-list {
    width:auto;
    margin:4.1rem 0;
    .fab {
      border-radius: 0;
      margin:0;
      .button-inner {
        text-align: left;
      }
    }
    .fab-in-list {
      width:11rem;
      background-color: #fff;
    }

    button:first-child {
      border-top:1px solid #ccc;
      border-top-left-radius:0.5rem;
      border-top-right-radius:0.5rem;
    }
    button {
      border-left:1px solid #ccc;
      border-right:1px solid #ccc;
      .button-inner {
        border-bottom: 1px solid #ccc;
      }
    }
    button:last-child {
      border-bottom:1px solid #ccc;
      border-bottom-right-radius:0.5rem;
      border-bottom-left-radius:0.5rem;
      .button-inner {
        border-bottom: 0;
      }
    };
  }
}
