.content{
  background:#eee;
}

.list{
  margin:0;
}
.item {
  font-size:1.3rem;
}
.list-header{
  background-color: #fff;
}
.list-ios > .item-block:first-child,.list-ios > .item-block:last-child {
  //border:0;
}
ion-list{
  .list-header {
    margin-top:0 !important;
  }
  ion-list-header {
    ion-label {
      font-size:1.6rem;
    }
    ion-icon {
      margin:0 0.5rem 0 0;
    }
  }

  ion-grid {
    background-color: #fff;
    ion-col {
      text-align: center;
      ion-icon {
        font-size:3rem;
      }
      ion-label {
        font-size:1.2rem;
      }
    }

    .col {
      padding:0.6rem 0;
      border-left:1px solid #ccc;
    }
    .col:first-child {
      border:0;
    }
  }
}

.tabs-ios .tab-button-icon {
  font-size:2.5rem;
  margin-bottom: -0.4rem;
}
.blank_tip{
  color: #31708f;
  border: solid #bce8f1 1px;
  background-color: #d9edf7;
  min-height: 4rem;
  line-height: 4rem;
  padding-left:2rem;
  margin: 5px;
  border-radius: 4px;
}

//表单list样式
.list-parent button.item,.list-parent > ion-item {
  margin-left: 0.1rem;
  margin-top: 0.7rem;
  border:none;
  border-left:4px solid #32db64;
  padding-left: 3.3rem;
  .item-inner{
    border:none;
  }

  &:last-child{
    margin-bottom: 0.7rem;
  }
}
.list-parent > ion-item[item-error]{
  padding-left:3.3rem;
}
.list-no-border{
  .item,button.item{
    margin-top: 0.7rem;
    border:none;

    &:last-child{
      margin-bottom: 0.7rem;
    }
  }
  .item[item-error]{
    padding-left:3.3rem;
  }
}
//文本信息的展示
.list{
  .item{
    p.item-result{
      white-space: normal;
      text-indent: 1rem;
      line-height: 2rem;
    }
  }
}
//选择框设置
.action-sheet-ios{
  .action-sheet-title{
    font-size: 1.7rem;
  }
  .action-sheet-button{
    font-size: 1.5rem;
  }
}
//字体等颜色
.warning{
  color: #ffc107;
}
//错误提示弹框
.alert-wrapper{
  .alert-button-group{
    button{
      border-top: 1px solid #dbdbdf;

      &:first-child{
        border-right: 1px solid #dbdbdf;
      }
    }
  }
}

.list:not(.list-parent) > .list-header-ios{
  border-bottom: 1px solid #aaa;
}
