.list{
  margin:0;
  border-top:1px solid #ccc;
}
.item {
  font-size:1.3rem;
}
.list-header{
  background-color: #f6f6f6;
}
.list-ios > .item-block:first-child,.list-ios > .item-block:last-child {
  border:0;
}
ion-list{
  .list-header {
    margin-top:0 !important;
  }
  ion-list-header {
    ion-label {
      font-size:1.4rem;
    }
    ion-icon {
      margin:0 0.5rem 0 0;
    }
  }

  ion-grid {
    background-color: #fff;
    ion-col {
      text-align: center;
      ion-icon {
        font-size:3rem;
      }
      ion-label {
        font-size:1.2rem;
      }
    }

    .col {
      padding:0.6rem 0;
      border-left:1px solid #ccc;
    }
    .col:first-child {
      border:0;
    }
  }
}

.tabs-ios .tab-button-icon {
  font-size:2.5rem;
  margin-bottom: -0.4rem;
}
.blank_tip{
  color: #31708f;
  border: solid #bce8f1 1px;
  background-color: #d9edf7;
  min-height: 4rem;
  line-height: 4rem;
  padding-left:2rem;
  margin: 5px;
  border-radius: 4px;
}
