<ion-content>
  <ion-list *ngIf="details">
    <ion-list-header>
      <ion-icon name="md-desktop" color="danger"></ion-icon>推荐理由
      <button ion-button outline item-end (click)="back()">返回</button>
    </ion-list-header>
    <ol>
      <li *ngFor="let entity of details">
        <p>{{entity}}
        </p>
      </li>
    </ol>
    <ion-item *ngIf="details.length==0 || details==null">
      <h3>暂无数据.......</h3>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button block (click)="back()" >返回</button>
  </div>

</ion-content>
