page-recommend-list {
  .list-avatar-page {
    ion-note {
      font-size: 12px;
    }
    .list-secondary{
      button{
        padding-left: 1.3rem;
      }
    }
    .list-warning{
      button{
        padding-left: 1.3rem;
        border-left: 4px solid #ffc107;
      }
    }
    .list-danger{
      button{
        padding-left: 1.3rem;
        border-left: 4px solid #f53d3d;
      }
    }
  }
}
