page-recommend-detail {
  ion-list ion-grid .col-project .col{
    border-left:0;
    border-right:1px solid #ccc;
  }
  ion-list ion-grid .col.noBorder {
    border-right:0;
  }
  ion-list ion-grid .col,ion-list ion-grid .col:first-child {
    border-bottom:1px solid #ccc;
  }
  .list-ios .item-block .item-inner{
    border-bottom:0;
  }
  .recommend-list ion-label{
    white-space: normal;
  }
  .recommend-list h3.content {
    width:98%;
    position:relative;
    line-height:1.4em;
    height:5.6em;
    overflow:hidden;
  }
  .recommend-list h3.content:after {
    content:"...";
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    background:#FFF;
    padding-left:0.2em;
  }
}
