
<ion-content>

  <ion-list>
    <ion-list-header *ngIf="params.type == 'recommend'">
      <ion-icon name="md-desktop" color="danger"></ion-icon>推荐列表
      <button ion-button outline item-end (click)="back()">返回</button>
    </ion-list-header>
    <ion-list-header *ngIf="params.type == 'avoid'">
      <ion-icon name="md-desktop" color="danger"></ion-icon>禁忌列表
      <button ion-button outline item-end (click)="back()">返回</button>
    </ion-list-header>
    <ion-item *ngIf="suggestList" class="recommend-list">
      <h3 (click)="viewRecommendReson()">{{suggestList[0]}}</h3>
      <h3 *ngIf="suggestList.length==0 || suggestList==null">暂无数据.......</h3>
    </ion-item>

    <ion-list-header>
      <ion-icon name="md-desktop" color="danger"></ion-icon>{{params.name}}
      <!--<button ion-button outline item-end (click)="back()">返回</button>-->
    </ion-list-header>

    <ion-grid *ngIf="recommendLists">
      <ion-row class="col-project">
        <ion-col col-4 *ngFor="let recommendList of recommendLists;let idx = index" (click)="viewRecommendDetail(recommendList)"
                 [ngClass]="{noBorder:(idx+1)%3 == 0}">
          <ion-icon name="{{recommendList.icon}}" color="primary"></ion-icon>
          <ion-label>{{recommendList.label}}</ion-label>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-list>


</ion-content>
