<ion-content>
  <ion-list *ngIf="details">
    <ion-list-header>
      <ion-icon name="md-desktop" color="danger"></ion-icon>典型病历
      <button ion-button outline item-end (click)="back()">返回</button>
    </ion-list-header>
    <ion-item (click)="viewRecord()" *ngFor="let entity of details.data">
      <h3>{{entity.pati_id}}</h3>
      <p>{{entity.diagnosis}}</p>
      <ion-note item-end>	{{entity.admission_date_time}}</ion-note>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button block (click)="back()" >返回</button>
  </div>
</ion-content>

